

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
}

.form-register{
    display: flex;
    flex-direction: column;
    gap: 10px;
}