

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
    background-color: #2b2c34;
    color: #fffffe;
}

.form-login-h2{
    font-size: 25px;
    align-self: center;
    margin-bottom: 10px;
}

.form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-login input{
    padding: 10px 20px;
    font-size: 16px;
}

.form-login button{
    background-color: #6246ea;
    border: 1px solid #6246ea;
    border-radius: 7px;
    padding: 8px 15px;
    color: #fffffe;
}

.form-login button:hover{
    background-color: #110647;
    border: 1px solid #110647;
}

.btn-register:hover{
    text-decoration: underline;
    cursor: pointer;
}