

.container-customer-card{
    margin-top: 15px;
}

.container-less-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #d1d1e9;
    border: 2px solid #d1d1e9;
    border-radius: 8px;
    color: #2b2c34;
    font-size: 17px;
}

.customer-name{
    font-weight: 500;
}

.content-customer-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btns-customer-card{
    display: flex;
    gap: 10px;
}

.btn-action{
    background-color: #d1d1e9;
    border: 1px solid #d1d1e9;
    border-radius: 5px;
    padding: 3px 5px;
    color: #6246ea;
    font-size: 18px;
}

.btn-action:hover{
    color: #110647;
}

.container-full-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;

}

.container-full-content-2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.relation-contacts{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}