
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 110px;
    background-color: #2b2c34;
    
}

h1{
    font-size: 30px;
    color: #fffffe;
}

input{
    padding: 7px 5px;
}

.header-search{
    display: flex;
    gap: 2px;
}

.btn-logout{
    background-color: #6246ea;
    border: 1px solid #6246ea;
    border-radius: 7px;
    padding: 8px 15px;
    color: #fffffe;
}

.btn-logout:hover{
    background-color: #110647;
    border: 1px solid #110647;
}
